@media(min-width:100px){
    .container{
        width: 100%;
        margin: auto;
    }
    .movies-card{
        width: 90%;
    }
    .movies-col{
        justify-content: center!important;
    }
    .card-img-pc{
        display: none;
    }
    .card-img-mobile{
        display: block;
    }
    .card-img img{
        height: 20vh;
    }
    .card-book{
        display: flex;
        justify-content: space-between;
    }
    .card-bt{
        padding: 20px 20px;
    }
    .lan-filter,.gen-filter{
        position: relative;
    }
    .lan-filter ul,.gen-filter ul{
        display: block;
        position: absolute;
        top: 40px;
        background-color: #fff;
        z-index: 100;
        font-size: 12px;
        padding: 5px;
    }
    .hide1{
        display: none!important;
    }
    .lan-up,.lan-down,.gen-up,.gen-down{
        display: none;
    }
    .hide2{
        display: block!important;
    }
    #movie-list>.container{
        flex-direction: column;
    }
    #filter{
        width:100%;
        padding: 20px 0px;
    }
    #filter i{
        padding: 0 10px;
    }
    .filter-row{
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
    .filter-h3{
        font-size: 18px;
    }
    .filter-col{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 15px;
    }
}
@media(min-width:620px){
    .container{
        width: 95%;
        margin: auto;
    }
    .movies-card{
        width: 48%;
    }
    .movies-col{
        justify-content: space-between!important;
    }
    .card-img-pc{
        display: block;
    }
    .card-img-mobile{
        display: none;
    }
    .card-img img{
        height: initial;
    }
    .card-book{
        display: block;
    }
    .card-bt{
        padding: 20px 0;
    }
}
@media(min-width:820px){
    .container{
        width: 90%;
        margin: auto;
    }
    .movies-card{
        width: 48%;
    }
    .movies-col{
        justify-content: flex-start!important;
        gap: 1.33%;
    }
    #movies{
        width:78%;
    }
    .lan-filter ul,.gen-filter ul{
        display: none;
    }
    .hide1{
        display: block!important;
    }
    .lan-up,.lan-down,.gen-up,.gen-down{
        display: block;
    }
    .hide2{
        display: none!important;
    }
    #movie-list>.container{
        flex-direction: row;
    }
    #filter{
        width:20%;
        padding: 20px 0;
    }
    .filter-row{
        display: block;
    }
    .filter-col{
        display: block;
    }
    .lan-filter,.gen-filter{
        position: static;
    }
    .lan-filter ul,.gen-filter ul{
        position: static;
    }
    .filter-row h4{
        display: none;
    }
}
@media(min-width:1060px){
    .movies-card{
        width: 32%;
    }
    .movies-col{
        gap: 1.33%;
        justify-content: flex-start!important;
    }
}
#movies{
    padding: 15px 0;
}
.movies-row{
    background-color: #fff;
    border-radius: 15px;
    padding: 10px 20px;
}
.movies-col{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 0;
}
.movies-card{
    /* width:23%; */
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    overflow: hidden;
    margin-bottom: 20px;
    cursor: pointer;
}
.card-img{
    position: relative;
}
.card-img i{
    color: red;
}
.card-img img{
    width: 100%;
    vertical-align: middle;
}
.card-img span{
    position: absolute;
    color:#fff;
    border-radius: 10px;
}
.rate{
    bottom: 10px;
    left:10px;
    background-color: #0000008c;
    padding: 10px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 5px;
}
.new{
    bottom: 10px;
    right:10px;
    background-color: darkgreen;
    padding: 10px;
    font-weight: 700;
}
.card-details{
    padding: 16px 12px;
}
.card-bt{
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border-top: 1px solid #ccc;
    color: #00baf2;
}
#movie-list>.container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.filter-row{
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
}
.filter-row h3{
    padding-bottom: 20px;
}
.filter-row li{
    padding-bottom: 20px;
}
.filter-row input{
    margin-right: 15px;
    outline: none;
}
.gen-head,.lan-head{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    cursor: pointer;
}